USE [MIUUL]
GO
/****** Object:  Table [dbo].[predicted_results]    Script Date: 17.06.2022 22:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[predicted_results](
	[Id] [int] NULL,
	[SalePrice] [numeric](19, 2) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[predicted_results] ([Id], [SalePrice]) VALUES (1461, CAST(117286.59 AS Numeric(19, 2)))
INSERT [dbo].[predicted_results] ([Id], [SalePrice]) VALUES (1462, CAST(163677.55 AS Numeric(19, 2)))
INSERT [dbo].[predicted_results] ([Id], [SalePrice]) VALUES (1463, CAST(188021.42 AS Numeric(19, 2)))
GO
